body{
  
    background-image: url(../foto.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed ;
    background-repeat: no-repeat;
    height: 110vh;
}


.caja-border{
    border-radius: 5px;
    color: #fff;
    margin: 50px auto;
    border: 3px solid rgb(168, 22, 22);
    text-align: center;
    width:350px;
    background:rgba(0, 0, 0, 0.603);
}


.btn{ 
    width: 480px;
    height: 40px;
    background: rgba(131, 1, 1, 0.719);
    border: 3px solid rgba(0, 0, 0, 0.288); ;  
    color: #fff;
 }
 
 .caja1{
    border-radius: 5px;
    border: 3px solid rgb(97, 2, 2);
    margin: 0 auto ;
    color: rgb(93, 0, 0);
    width:300px;
    padding:20px;
    text-align: justify;
    background:rgba(0, 0, 0, 0.603);
} 

.btn:hover{
     background: rgba(173, 48, 16, 0.979);
     color: white;
     border: 3px solid #fff;
 }